extends layout
block content
	nav
		p Administrador
		br
		li
			a(href="./ui") Ui
		|   
		li
			a(href="./query") Consultas
		|   
		li
			a(href="./views") Listar views
		|   
		li
			a(href="./document") Documentos
		|   
		li
			a(href="./db") Conexiones
		|   
		li
			a(href="./usuarios") Usuarios
		|   
		li
			a(href="./out_session") Cerrar sesi칩n
		|   
	nav
		li
			a.active(href='./add_db', class="active") Agregar conexion a db
		|   
		li
			a(href='./upd_db') Modificar conexion a db
		|   
		li
			a(href="./del_db") Eliminar conexion a db
		|   
		br
	nav
		form(method="POST", action="./add_db/agregar")
			label Id:   
			input(type="int", name="id")
			br
			|       
			label Nombre:   
			input(type="text", name="name")
			br
			|       
			label Descripci칩n:   
			input(type="text", name="description")
			br
			|       
			label Usuario:   
			input(type="text", name="user")
			br
			|       
			label Contrase침a:   
			input(type="text", name="password")
			br
			|       
			label Nombre de la base de datos:   
			input(type="text", name="dbname")
			br
			|       
			label Nombre de origen de datos (dsn):   
			input(type="text", name="dsn")
			br
			|       
			label Hostsocket:   
			input(type="text", name="hostsocket")
			br
			|       
			label Clase del driver:   
			input(type="text", name="classname")
			br
			|       
			label Sub protocolo:   
			input(type="text", name="subprotocol")
			br
			|       
			label Par치metros:   
			input(type="text", name="params")
			br
			|       
			input(type="submit", value="Aceptar")
		br

