extends layout
block content
	nav
		p Administrador
		br
		li
			a(href="./ui") Ui
		|   
		li
			a(href="./query") Consultas
		|   
		li
			a(href="./views") Listar views
		|   
		li
			a(href="./document") Documentos
		|   
		li
			a(href="./conexiones") Conexiones
		|   
		li
			a(href="./usuarios") Usuarios
		|   
		li
			a(href="./out_session") Cerrar sesión
		|   
	nav
		li
			a(href='./add_view') Agregar view
		|   
		li
			a.active(href="./del_view", class="active") Eliminar view
		|   
	nav
		form(method="POST", action="./del_view/eliminar")
			label Id:   
			input(type="int", name="id")
			br
			|       
			input(type="submit", value="Aceptar")
			br
		br