extends layout
block content
	nav
		p Administrador
		br
		li
			a(href="./ui") Ui
		|   
		li
			a(href="./query") Consultas
		|   
		li
			a(href="./views") Listar views
		|   
		li
			a(href="./document") Documentos
		|   
		li
			a(href="./db") Conexiones
		|   
		li
			a(href="./usuarios") Usuarios
		|   
		li
			a(href="./out_session") Cerrar sesión
		|   
	nav
		li
			a(href='./add_db') Agregar ui
		|   
		li
			a.active(href="./del_ui", class="active") Eliminar ui
		|   
		br
	nav
		form(method="POST", action="./del_ui/eliminar")
			label Id:   
			input(type="int", name="id")
			br
			|       
			input(type="submit", value="Aceptar")
		br

