extends layout
block content
	nav
		p Usuario
		br
		li
			a(href="./oui") Ui
		|   
		li
			a(href="./oquery") Consultas
		|   
		li
			a(href="./oviews") Listar views
		|   
		li
			a(href="./odocument") Documentos
		|   
		li
			a.active(href="./odb", class="active") Conexiones
		|   
		li
			a(href="./ologout") Cerrar sesi칩n
		|   
	nav
		li
			a.active(href='./oadd_db', class="active") Agregar conexion a db
		|   
		li
			a(href='./oupd_db') Modificar conexion a db
		|   
		li
			a(href="./odel_db") Eliminar conexion a db
		|   
		br
	nav
		form(method="POST", action="./oadd_db/agregar")
			label Id:   
			input(type="int", name="id")
			br
			|       
			label Nombre:   
			input(type="text", name="name")
			br
			|       
			label Descripci칩n:   
			input(type="text", name="description")
			br
			|       
			label Usuario:   
			input(type="text", name="user")
			br
			|       
			label Contrase침a:   
			input(type="text", name="password")
			br
			|       
			label Nombre de la base de datos:   
			input(type="text", name="dbname")
			br
			|       
			label Nombre de origen de datos (dsn):   
			input(type="text", name="dsn")
			br
			|       
			label Hostsocket:   
			input(type="text", name="hostsocket")
			br
			|       
			label Clase del driver:   
			input(type="text", name="classname")
			br
			|       
			label Sub protocolo:   
			input(type="text", name="subprotocol")
			br
			|       
			label Par치metros:   
			input(type="text", name="params")
			br
			|       
			input(type="submit", value="Aceptar")
		br

