extends layout
block content
	nav
		p Usuario
		br  
		li
			a(href="./oui") Ui
		|   
		li
			a(href="./oquery") Consultas
		|   
		li
			a(href="./oviews") Listar views
		|   
		li
			a(href="./odocument") Documentos
		|   
		li
			a(href="./odb") Conexiones
		|   
		li
			a(href="./ologout") Cerrar sesión
		|   
	nav
		li
			a(href='./oadd_q') Agregar query
		|   
		li
			a.active(href="./odel_q", class="active") Eliminar query
		|   
		br
	nav
		form(method="POST", action="./odel_q/eliminar")
			label Id:   
			input(type="int", name="id")
			br
			|       
			input(type="submit", value="Aceptar")
		br

