extends layout
block content
	nav
		p Usuario
		br  
		li
			a(href="./oui") Ui
		|   
		li
			a(href="./oquery") Consultas
		|   
		li
			a.active(href="./oviews", class="active") Listar views
		|   
		li
			a(href="./odocument") Documentos
		|   
		li
			a(href="./odb") Conexiones
		|   
		li
			a(href="./ologout") Cerrar sesión
		|   
	nav
		li
			a(href='./add_view') Agregar view
		|   
		li
			a(href="./del_view") Eliminar view
		|   
	nav
		br
		p Lista de vistas de todas consulta
		br
		table(border='1')
			thead
				tr
					th id
					th name
					th sql
					th created_at
			tbody
				each view in views
					tr
						td=view.id
						td=view.name
						td=view.sql_
						td=view.created_at
		br
